body {
  overflow-x: hidden;
  direction: rtl;
}

.owl-carousel {
  direction: ltr;
}

.owl-carousel .owl-nav,
.owl-carousel .owl-dots,
.owl-carousel .owl-item {
  direction: rtl;
}

.contact__input-box .bootstrap-select .dropdown-menu,
.bootstrap-select .dropdown-toggle .filter-option {
  text-align: right;
}

.list-unstyled {
  padding-right: 0;
}

.service-one__card__thumb {
  -webkit-mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 630.000000 447.000000"> <g transform="translate(0.000000,447.000000) scale(0.100000,-0.100000)"> <path d="M0 2649 c0 -1729 1 -1820 18 -1815 9 3 55 10 102 16 47 7 114 16 150 22 36 5 103 13 150 18 47 5 106 14 130 19 25 6 68 11 95 11 28 0 77 7 110 15 33 8 83 15 110 15 28 0 68 5 90 10 22 6 81 14 130 19 50 5 122 14 160 20 66 10 122 17 425 56 69 9 154 21 190 27 36 5 103 13 150 18 47 5 106 14 130 19 25 6 68 11 95 11 28 0 77 7 110 15 33 8 83 15 110 15 28 0 68 5 90 10 22 6 81 14 130 19 50 5 122 14 160 20 66 10 122 17 425 56 69 9 154 21 190 27 36 5 103 13 150 18 47 5 106 14 130 19 25 6 68 11 95 11 28 0 77 7 110 15 33 8 83 15 110 15 28 0 79 7 115 15 36 8 88 15 115 15 28 0 79 7 115 15 36 8 88 14 115 15 48 0 54 -3 141 -78 76 -64 245 -204 518 -429 28 -23 134 -111 235 -195 101 -84 198 -164 215 -178 25 -20 240 -197 376 -310 235 -194 281 -230 297 -230 11 0 13 388 13 2230 l0 2230 -3150 0 -3150 0 0 -1821z"/> </g> </svg>');
  mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 630.000000 447.000000"> <g transform="translate(0.000000,447.000000) scale(0.100000,-0.100000)"> <path d="M0 2649 c0 -1729 1 -1820 18 -1815 9 3 55 10 102 16 47 7 114 16 150 22 36 5 103 13 150 18 47 5 106 14 130 19 25 6 68 11 95 11 28 0 77 7 110 15 33 8 83 15 110 15 28 0 68 5 90 10 22 6 81 14 130 19 50 5 122 14 160 20 66 10 122 17 425 56 69 9 154 21 190 27 36 5 103 13 150 18 47 5 106 14 130 19 25 6 68 11 95 11 28 0 77 7 110 15 33 8 83 15 110 15 28 0 68 5 90 10 22 6 81 14 130 19 50 5 122 14 160 20 66 10 122 17 425 56 69 9 154 21 190 27 36 5 103 13 150 18 47 5 106 14 130 19 25 6 68 11 95 11 28 0 77 7 110 15 33 8 83 15 110 15 28 0 79 7 115 15 36 8 88 15 115 15 28 0 79 7 115 15 36 8 88 14 115 15 48 0 54 -3 141 -78 76 -64 245 -204 518 -429 28 -23 134 -111 235 -195 101 -84 198 -164 215 -178 25 -20 240 -197 376 -310 235 -194 281 -230 297 -230 11 0 13 388 13 2230 l0 2230 -3150 0 -3150 0 0 -1821z"/> </g> </svg>');
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: top center;
  mask-position: top center;
  -webkit-mask-size: auto;
  mask-size: auto;
}

.package-card__content__list__item::before,
.choose-us-one__list__item::before,
.benefits-one__list__item::before,
.about-three__content__list__item::before {
  display: none;
}

.testimonial-two__item::after {
  -webkit-mask: url('data:image/svg+xml;utf8,<svg viewBox="0 0 1170 596" xmlns="http://www.w3.org/2000/svg"> <path d="M1170 595.4L27.8057 511.632C12.1306 510.482 -8.56488e-06 497.429 -9.93892e-06 481.712L-4.03439e-05 30.4C-4.14795e-05 13.8315 13.4314 0.400023 30 0.400022L1170 0.399922L1170 595.4Z" /> </svg>');
  mask: url('data:image/svg+xml;utf8,<svg viewBox="0 0 1170 596" xmlns="http://www.w3.org/2000/svg"> <path d="M1170 595.4L27.8057 511.632C12.1306 510.482 -8.56488e-06 497.429 -9.93892e-06 481.712L-4.03439e-05 30.4C-4.14795e-05 13.8315 13.4314 0.400023 30 0.400022L1170 0.399922L1170 595.4Z" /> </svg>');
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: top center;
  mask-position: top center;
  -webkit-mask-size: auto;
  mask-size: auto;
}

.testimonial-two__thumb::before {
  transform: rotateY(180deg);
}

.choose-us-one__inner::after {
  transform: rotateY(180deg);
}

.choose-us-one__image {
  clip-path: polygon(25% 0, 100% 0%, 100% 100%, 0% 100%);
}

.main-slider-one__carousel .owl-dots {
  left: auto;
  right: 110px;
}
@media (max-width: 1199px) {
  .main-slider-one__carousel .owl-dots {
    right: 50px;
  }
}
@media (max-width: 767px) {
  .main-slider-one__carousel .owl-dots {
    left: 0;
    right: 0;
  }
}

.about-one__flower {
  background-position: 70px 124%;
}

.scroll-to-top {
  left: -25px;
}

.main-slider-one__bg::after {
  animation: cloudMove 60s linear 0s infinite;
}

@keyframes cloudMove {
  0% {
    background-position: 1920px -100%;
  }
  100% {
    background-position: 0 -100%;
  }
}
.benefits-one__inner__btn:nth-child(1) {
  width: 240px;
  max-width: 100%;
}

.benefits-one__inner__btn:nth-child(2) {
  width: 240px;
  max-width: 100%;
}
/*# sourceMappingURL=hostom-custom-rtl.css.map */
